.nav {
  background: #546e7a;
}

.activityBtn {
  background: #546e7a !important;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
  font-size: 1.5em;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

p {
  font-weight: 200;
}

button.active {
  background: #da693d !important;
}

button.Gactive {
    background: #47dd6c !important;
}

span.calories {
    color: #2dd2e7 !important;
}

span.spanbmi {
  color: #e5e913 !important;
}

span.hresult, span.wresult {
  color: #e5e913 !important;
}

span.weight, span.inch, span.pound, span.height {
    color: #bde085 !important;
}

form span {
  color: #df7b53 !important;
}

.x-axis path, .y-axis path,
.x-axis line, .y-axis line{
  stroke: #ccc;
}

.x-axis text, .y-axis text{
  fill: #ccc;
  font-size: 10px;
}

#dtooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: #faa483;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 100, 100, 0.4);
  pointer-events: none;
}

#dtooltip.dhidden {
  display: none;
}

#dtooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#ctooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: #77d9e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 100, 100, 0.4);
  pointer-events: none;
}

#ctooltip.chidden {
  display: none;
}

#ctooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}