.nav {
  background: #546e7a;
}
.activityBtn {
  background: #546e7a !important;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
  font-size: 1.5em;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
p {
  font-weight: 200;
}

button.active {
  background: #da693d !important;
}
button.Gactive {
    background: #47dd6c !important;
}
span.calories {
    color: #2dd2e7 !important;
}
span.height {
    color: #bde085 !important;
}
span.weight {
    color: #bde085 !important;
}
form span {
  color: #df7b53 !important;
}

.x-axis path, .y-axis path,
.x-axis line, .y-axis line{
  stroke: #ccc;
}
.x-axis text, .y-axis text{
  fill: #ccc;
  font-size: 10px;
}