.nav {
  background: #546e7a;
}
button {
  background: #546e7a !important;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px;
  font-size: 1.5em;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
button.active {
  background: #da693d !important;
}
form span {
  color: #df7b53 !important;
}

.x-axis path, .y-axis path,
.x-axis line, .y-axis line{
  stroke: #ccc;
}
.x-axis text, .y-axis text{
  fill: #ccc;
  font-size: 14px;
}